{% extends 'history_rate/base_rate.html' %}


{% block title %}
Create currency rate
{% endblock %}

{% block content %}
<h3> Create and save a currency rate</h3>

<div class="row mt-3">
    <div class="{%if rates %}col-md-6 {% else %} col-md-12 {% endif %} mb-3">
        <form method="post">
            {% csrf_token %}
            {% include 'form.html' %}
            <button type="submit" class="btn btn-success btn-block">Save</button>
            <a href="{% url 'history_rate' %}" class="btn btn-primary btn-block">Cancel</a>
        </form>
    </div>
    {% if rates %}
    <div class="col-md-6 mb-3">
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>Value of currency rate</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for rate in rates %}
            <tr>
                <td class="align-middle">
                    {{ rate.rate_value }}
                </td>

                <td class="align-middle">
                    {{ rate.date }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}