{% extends 'history_rate/base_rate.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/mainsite.css' %}">
{% endblock %}
{% block script %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock %}

{% block title %}
History currency rate
{% endblock %}

{% block greetings %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to currency rate history</h1>
        <p>In this site you can see a chart of stored rates, create and save rate for a specific date</p>
        <p><a href="{% url 'create_rate' %}" class="btn btn-primary btn-lg">Add a new currency rate</a></p>
    </div>
</div>
{% endblock %}
{% block content %}
{% if is_empty %}
<div id="container">
</div>
<script>
    Highcharts.chart('container', {
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'UAH to USD currency rate history over time'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'UAH to USD',
            data: {{ data }}
        }]
    });


</script>
{% endif %}

{% endblock %}